In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../dataset/bays/spam.csv", encoding="ISO-8859-1")

In [5]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
X, y = data.values[:, 1], data.values[:, 0]

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer(ngram_range=(1,2))

In [34]:
vec = cv.fit_transform(X)

In [35]:
vals = vec.todense()

In [36]:
vals.shape

(5572, 50326)

In [37]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [38]:
nb = MultinomialNB()

In [39]:
X_train, X_test, y_train, y_test = train_test_split(vals, y, test_size=0.33, random_state=42)

In [40]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [41]:
nb.score(X_test, y_test)

0.9760739532354541